@model CareOnSpot.Models.EmergencyHelp

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>EmergencyHelp</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaitentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaitentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MobileNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MobileNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickUpSopt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickUpSopt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConfirmStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConfirmStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hospital)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hospital.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ambulance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ambulance.Id)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
